= render 'subheader'

%table.table
  %thead
    %tr
      %th Name
      %th Contact number
      %th Location
      %th Community

  %tbody
    - @efars.each do |efar|
      %tr
        %td= link_to efar.full_name, efar
        %td= efar.readable_contact_number
        %td= efar.given_address
        %td= efar.community_center.name
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_efar_path(efar)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>efar_path(efar), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
  