= form_for([:admin, @researcher], :html => {:class => 'form-horizontal'}) do |f|
  
  %legend
    Researcher

  - if @researcher.errors.present?
    .alert.alert-error There were some errors saving the researcher. See below for more information.  

  = horizontal_text_field(@researcher, :full_name)
  = horizontal_text_field(@researcher, :email)
  = horizontal_text_field(@researcher, :affiliation)
  = horizontal_password_field(@researcher)

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_researchers_path} Cancel
