.emergencies-index
  .section

    .header
      .pull-right
        %a.btn.btn-primary{:href=>new_emergency_path}
          New Dispatch
      .header-body
        %h4= "Showing #{pluralize(@emergencies.count, "dispatch")} from the last 24 hours"
      
    - @emergencies.each do |em|
      .item-emergency{ 'data-emergency-id' => em.id }
        %h4
          = "Unspecified injury" if em.category.blank?
          = em.category if em.category.present?
          %small
            = time_ago_in_words em.updated_at
            ago
        .row-fluid
          .span10
            .emergency-content
              %dl.dl-horizontal
                %dt Location
                %dd= em.address_formatted_for_text_message
                %dt EFAR Status
                %dd
                  - if em.dispatch_messages.count==0
                    %span.label No EFARs nearby
                  - if em.dispatch_messages.count>0
                    %ul.inline.emergency-status-data
                      %li{'data-type'=>'emergency-sent-messages-count'}
                        %span.badge.badge-inverse= em.sent_dispatch_messages.count
                        notified
                      %li{'data-type'=>'emergency-en-route-messages-count'}
                        %span.badge.badge-warning= em.en_route_dispatch_messages.count
                        en route
                      %li{'data-type'=>'emergency-on-scene-messages-count'}
                        %span.badge.badge-success= em.on_scene_dispatch_messages.count
                        on scene
                      %li{'data-type'=>'emergency-declined-messages-count'}
                        %span.badge= em.declined_dispatch_messages.count
                        declined
                      %li{'data-type'=>'emergency-failed-messages-count'}
                        %span.badge.badge-important= em.failed_dispatch_messages.count
                        messages failed
                  %dt
                  %dd
                    = link_to "View details", em
            

        


            




