.emergencies-show
  %ul.breadcrumb
    %li
      %a{:href => emergencies_path } Dispatches
      %span.divider /
    %li.active
      = @emergency.category_formatted_for_nil
      @
      = @emergency.address_formatted_for_text_message

  .section
    .header.section-header
      .pull-right
        .time
          = distance_of_time_in_words_to_now @emergency.created_at
          ago  
      .header-body
        %h4
          = @emergency.category_formatted_for_nil
          @
          = @emergency.address_formatted_for_text_message
    - @emergency.dispatch_messages.each do |dm|
      .item.dispatch-message-item
        .row-fluid
          .span2
            = dispatch_message_state_label_html(dm)
            %span.time
              = distance_of_time_in_words_to_now dm.updated_at
              ago
          .span10
            .efar-name= dm.efar.full_name
            .efar-summary-group
              .group-label Address
              .group-item= dm.efar.formatted_address
            .efar-summary-group
              .group-label Mobile #
              .group-item= dm.efar.contact_number

