.emergencies-show
  %ul.breadcrumb
    %li
      %a{:href => emergencies_path } Dispatches
      %span.divider /
    %li.active
      = @emergency.category_formatted_for_nil
      @
      = @emergency.address_formatted_for_text_message

  .section
    .header
      .pull-right
        .time
          = distance_of_time_in_words_to_now @emergency.created_at
          ago  
      .header-body
        %h4
          = @emergency.category_formatted_for_nil
          @
          = @emergency.address_formatted_for_text_message
    .dispatch-messages-content{'data-type'=>'dispatch-messages', 'data-emergency-id'=>@emergency.id}
      .notice Loading...

