- em = slum_emergency

.item{ 'data-slum-emergency-id' => em.id }
  %h4
    = "Unspecified injury" if em.category.blank?
    = em.category if em.category.present?
    %small
      = time_ago_in_words em.updated_at
      ago
  .row-fluid
    .span10
      .emergency-content
        %dl.dl-horizontal
          %dt Location
          %dd= em.formatted_address
          %dt EFAR Status
          %dd
            - if em.slum_dispatch_messages.count==0
              %span.label No EFARs nearby
            - if em.slum_dispatch_messages.count>0
              %ul.inline.emergency-status-data
                %li{'data-type'=>'slum-emergency-sent-messages-count'}
                  %span.badge.badge-inverse= em.sent_dispatch_messages.count
                  notified
                %li{'data-type'=>'slum-emergency-en-route-messages-count'}
                  %span.badge.badge-warning= em.en_route_dispatch_messages.count
                  en route
                %li{'data-type'=>'slum-emergency-on-scene-messages-count'}
                  %span.badge.badge-success= em.on_scene_dispatch_messages.count
                  on scene
                %li{'data-type'=>'slum-emergency-declined-messages-count'}
                  %span.badge= em.declined_dispatch_messages.count
                  declined
                %li{'data-type'=>'slum-emergency-failed-messages-count'}
                  %span.badge.badge-important= em.failed_dispatch_messages.count
                  messages failed
            %dt
            %dd
              = link_to "View details", informal_emergency_path(em)

