.container
  .row
    .span8
      - if @admin.errors.blank?
        .alert.alert-info.alert-block
          %h4 Warning! Creating new admins is dangerous!
          %dl
            %dt With great power comes great responsiblity. Admins are authorized to:
            %dd Create new admins
            %dd Delete any admin account
            %dd Edit any admin account
            %dd Create, edit, or delete any researcher, efar, or community account
            %dd In summary, admins are gods of the system, only one or two people should be trusted with this level of control.
          %button.btn.btn-info{:type=>"button", :data=>{:dismiss=>"alert"}} Okay, I understand
      - if @admin.errors.present?
        .alert.alert-error There were some errors creating a new admin. See below for more information.
      = form_tag(admin_admins_path, :class => 'form-horizontal') do
        %legend Create New Admin
        
        .control-group{ :class => @admin.errors[:full_name].present? && "error" }
          %label.control-label Full Name
          .controls
            %input{:type=>"text", :name=>"admin[full_name]", :value=>@admin.full_name, :placeholder=>"Full Name"}
            - if @admin.errors[:full_name].present?
              %span.help-inline= @admin.errors[:full_name].first
        
        .control-group{ :class => @admin.errors[:email].present? && "error" }
          %label.control-label Email
          .controls
            %input{:type=>"text", :name=>"admin[email]", :value=>@admin.email, :placeholder=>"Email"}
            - if @admin.errors[:email].present?
              %span.help-inline= @admin.errors[:email].first

        .control-group{ :class => @admin.errors[:password].present? && "error" }
          %label.control-label Password
          .controls
            %input{:type=>"password", :name=>"admin[password]", :placeholder=>"Password"}
            - if @admin.errors[:password].present?
              %span.help-inline= @admin.errors[:password].first        

        .control-group{ :class => @admin.errors[:password_confirmation].present? && "error" }
          %label.control-label Password Confirmation
          .controls
            %input{:type=>"password", :name=>"admin[password_confirmation]", :placeholder=>"Confirm Password"}
            - if @admin.errors[:password_confirmation].present?
              %span.help-inline= @admin.errors[:password_confirmation].first

        .form-actions
          %button.btn.btn-primary{:type=>'submit'} Create Admin
          %a.btn{:href=>admin_admins_url} Cancel
