.page-header
  %h2
    Alerts
    .pull-right
      .btn-toolbar
        .btn-group
          %a.btn.btn-primary{:href => new_alert_path, :class=> controller.action_name=="new" && "active" }
            New Alert

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;

%table.table
  %thead
    %tr
      %th #
      %th Location (landmark)
      %th Lat/Lng
      %th Incident type
      %th EFARs notified
      %th Nearest EFAR (meters)
  %tbody
    - @alerts.each_with_index do |alert, i|
      %tr
        %td= alert.id
        %td
          = display_alert_location_and_landmark alert
        %td
          = "#{alert.lat}, #{alert.lng}"
        %td
          = alert.incident_type
        %td
          - if alert.control_group
            = "Control Group - "
          = alert.alert_sms.count
        %td
          - if alert.distance_of_nearest_efar.present?
            = number_with_precision(alert.distance_of_nearest_efar*1000, precision: 0)
