.page-header
  %h3
    EFAR Editor
    .pull-right
      %a.btn.btn-link{:href => admin_efars_path } Cancel  

- if @efar.errors.present?
  .alert.alert-error There were some errors saving the efar. See below for more information.

- @efar.contact_numbers.build if @efar.contact_numbers.size==0

= form_for([:admin, @efar], :html => {:class => 'form-horizontal efar-form-editor'}) do |f|
  
  %legend Personal Info

  = horizontal_text_field(@efar, :full_name)

  .control-group
    %label.control-label Community Center
    .controls
      = select("efar", "community_center_id", CommunityCenter.all.collect { |c| [c.name, c.id] } )

  %legend Contact Numbers

  .efar-contact-number-fields{'data-length'=>@efar.contact_numbers.size}
    - @efar.contact_numbers.each_with_index do |listing, i|
      .control-group{ :class => listing.errors[:contact_number].present? && "error" }
        %label.control-label #
        .controls
          - unless listing.new_record?
            %input{ :type=>'hidden',:name=>"efar[contact_numbers_attributes][#{i}][id]", :value => listing.id }
          %input{:type=>'text',:name=>"efar[contact_numbers_attributes][#{i}][contact_number]", :value => listing.contact_number }
          - if listing.errors[:contact_number].present?
            %span.help-inline= listing.errors[:contact_number].first
          - unless listing.nil? || listing.new_record?
            %span Destroy
            %input{ :type=>'checkbox', :name=>"efar[contact_numbers_attributes][#{i}][_destroy]"}

  .control-group
    .controls
      %button.btn.btn-small{'data-type'=>'create-new-contact-number-field', 'type'=>'button'} Add number
  
  %legend Locations

  .locations-list{'data-length'=>@efar.locations.size}
    - @efar.locations.each_with_index do |location, i|
      .location-item

        - name_prefix = "efar[locations_attributes][#{i}]"
        %input{:type=>'hidden',:name=>"#{name_prefix}[id]",:value=>location.id}

        .control-group
          %label.control-label Address
          .controls
            %span.input-xlarge.uneditable-input
              = location.formatted_address

        .control-group
          %label.control-label Occupied at
          .controls
            %select{:name => "#{name_prefix}[occupied_at]"}
              - %w(daytime nighttime anytime).each do |option_value|
                %option{ :selected => location.occupied_at.downcase==option_value }= option_value

        .control-group
          %label.control-label Delete?
          .controls
            %input{ :type => 'checkbox', :name => "#{name_prefix}[_destroy]" }
        


  .control-group
    .controls
      %button.btn.btn-small{'data-type'=>'add-location', 'type'=>'button'} Add Location

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_efars_path} Cancel

#location-search-app

:javascript

  jQuery(function(){
    new App.EfarFormEditor();
  });
