#efarForm
  .page-header
    %h3
      EFAR Editor
      .pull-right
        %a.btn.btn-link{:href => admin_efars_path } Cancel  

  .alert.alert-error.hide There were some errors saving the efar. See below for more information.

  = form_for([:admin, @efar], :html => {:class => 'form-horizontal efar-form-editor'}) do |f|
    
    = horizontal_text_field(@efar, :full_name)
    = horizontal_text_field(@efar, :contact_number, :help_text => "Must be a south african number")

    .control-group
      %label.control-label Community Center
      .controls
        = select("efar", "community_center_id", CommunityCenter.all.collect { |c| [c.name, c.id] } )

    = horizontal_text_field(@efar, :given_address)

    .control-group
      %label.control-label Geolocation
      .controls
        %div{'data-type'=>'efar-address', 'data-efar' => @efar.to_json }

    .control-group
      %label.control-label Training Level
      .controls
        = select "efar", "training_level", Efar::TRAINING_LEVELS

    .control-group
      %label.control-label Training Date
      .controls.date-select
        = date_select "efar", "training_date",end_year: Time.now.year, order: [:day, :month, :year]        

    .form-actions
      %button.btn.btn-primary{:type=>'submit'} Save
      %a.btn{:href=>admin_efars_path} Cancel

  :javascript

    jQuery(function(){
      new App.Controllers.Admin.Efars.Form();
    });

- if Rails.env.development?
  %hr
    = debug(@efar)
    = debug(@efar.errors)
