.page-header
  %h3
    EFAR Editor
    .pull-right
      %a.btn.btn-link{:href => admin_efars_path } Cancel  

- if @efar.errors.present?
  .alert.alert-error There were some errors saving the efar. See below for more information.

= form_for([:admin, @efar], :html => {:class => 'form-horizontal efar-form-editor'}) do |f|
  
  = horizontal_text_field(@efar, :full_name)
  = horizontal_text_field(@efar, :contact_number, :help_text => "Must be a south african number")

  .control-group
    %label.control-label Community Center
    .controls
      = select("efar", "community_center_id", CommunityCenter.all.collect { |c| [c.name, c.id] } )

  .control-group
    %label.control-label Location
    .controls
      %div{'data-type'=>'geocoded-address-field', 'data-model-name'=>'efar'}

  .control-group
    %label.control-label Informal Settlement
    .controls
      %input{:type=>'text', :name => 'efar[township_house_number]', :value => @efar.township_house_number, :placeholder => 'House Number' }
      = select "efar", "township_id", Township.all.collect{ |s| [s.name, s.id] }, {:include_blank => 'None'}

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_efars_path} Cancel

#location-search-app

:javascript

  jQuery(function(){
    new App.Controllers.Admin.Efars.Form();
  });
