.page-header
  %h3
    Efars
    .pull-right
      %a.btn.btn-primary.btn-small{:href => new_admin_efar_path}
        %i.icon-plus.icon-white
        Create



- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;

%table.table
  %thead
    %tr
      %th Full Name
      %th Contact Number
      %th Locations
      %th Community Centre        

  %tbody
    - @efars.each do |efar|
      %tr
        %td= link_to efar.full_name, admin_efar_path(efar)
        %td= efar.contact_number
        %td
          - efar.locations.each do |location|
            = location.formatted_address
            %br
          - if efar.township.present?
            = efar.township_house_number
            = efar.township.name
            
        %td= efar.community_center.name
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_admin_efar_path(efar)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>admin_efar_path(efar), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
          
.form-actions
  %ul.pager
    - if @page>0
      %li
        %a{:href => admin_efars_path(:page => (@page-1) )} Prev
    - if @efars.size==Efar::PER_PAGE
      %li
        %a{:href => admin_efars_path(:page => (@page+1) )} Next
  