.navbar
  .navbar-inner
    %form.form-search.navbar-form.pull-left{:action => search_admin_efars_path, :method => 'get'}
      %input{type:'text', placeholder: 'Search EFARs', name: 'search'}
      %button.btn{type:'submit'} Search
    %ul.nav.pull-right
      %li.divider-vertical
      %li
        %a{href:new_efar_path}
          Create EFAR

.action-top
  .pull-left
    .btn-toolbar
      Community:
      .btn-group
        %a.btn.btn-link.dropdown-toggle{'data-toggle'=>'dropdown', href:'#'}
          = current_community_name
          %span.caret
        %ul.dropdown-menu
          %li
            %a{href: active_admin_efars_path } All
          - CommunityCenter.all.each do |c|
            %li
              %a{href: active_admin_efars_path(community_center_id: c.id)}= c.name

      Category:
      .btn-group
        %a.btn.btn-link.dropdown-toggle{'data-toggle'=>'dropdown', href:'#'}
          = current_efar_category
          %span.caret
        %ul.dropdown-menu
          %li
            %a{href: active_admin_efars_path(:community_center_id => @community)}
              Active
          %li
            %a{href: alert_subscriber_admin_efars_path(:community_center_id => @community)}
              Alert Subscriber
          %li
            %a{href: bibbed_admin_efars_path(:community_center_id => @community)}
              Issued Bib
          %li
            %a{href: nyc_admin_efars_path(:community_center_id => @community)}
              Not yet competent
          %li
            %a{href: expired_admin_efars_path(:community_center_id => @community)}
              Expired
          %li
            %a{href: admin_efars_path(:community_center_id => @community)}
              Everyone

  .pull-right
    .btn-toolbar
      .btn-group
        %a.btn{href:'#messageModal', 'data-toggle'=>'message-modal'} Send Message
        %a.btn{href:'#modalMap', 'data-toggle' => 'modal-map'} View Map
    #messageModal{'data-efars'=>@efars.to_json, 'data-url'=>'/admin/efars'}
    #modalMap{'data-efars'=>@efars.to_json}

= render 'table'

%ul.pager
  - unless params[:page]==0
    %li
      = link_to "Previous", page: (params[:page].to_i-1)
  - unless @efars.size==0
    %li
      = link_to "Next", page: (params[:page].to_i+1)

  