- content_for :section_header do
  %h3 Efars

- content_for :section_actions do
  %a.btn.btn-primary{:href => new_admin_efar_path}
    %i.icon-plus.icon-white
    Create new Efar

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} x

%table.table
  %thead
    %tr
      %th #
      %th Full Name
      %th Mobile #
      %th Location

  %tbody
    - @efars.each do |efar|
      %tr
        %td= efar.id
        %td= efar.full_name
        %td= efar.contact_number
        %td= "#{efar.street}, #{efar.suburb}"
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_admin_efar_path(efar)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>admin_efar_path(efar), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
          
.form-actions
  %ul.pager
    - if @page>0
      %li
        %a{:href => admin_efars_path(:page => (@page-1) )} Prev
    - if @efars.size==Efar::PER_PAGE
      %li
        %a{:href => admin_efars_path(:page => (@page+1) )} Next
  