= render 'subheader'

%ul.nav.nav-pills
  %li{class: controller.action_name=="index" && "active"}
    %a{:href => admin_efars_path } Active
  %li{class: controller.action_name=="expired" && "active"}
    %a{:href => expired_admin_efars_path } Expired

%table.table
  %thead
    %tr
      %th Name
      %th Contact number
      %th Location
      %th Community

  %tbody
    - @efars.each do |efar|
      %tr
        %td= link_to efar.full_name, [:admin, efar]
        %td= efar.readable_contact_number
        %td= efar.given_address
        %td= efar.community_center.name
        %td
          .btn-group
            %a.btn.btn-mini.dropdown-toggle{"data-toggle"=>"dropdown", :href=>'#'}
              %i.icon-cog
              %span.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{:href=>edit_admin_efar_path(efar)}
                  %i.icon-pencil
                  Edit
              %li
                %a{:href=>admin_efar_path(efar), "data-confirm"=>"Are you sure?", "data-method"=>"delete"}
                  %i.icon-trash
                  Delete
  