%h3
  = "#{@efar.full_name}"
  .pull-right
    %a.btn.btn-link{:href => edit_admin_efar_path(@efar) } Edit

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;

%dl.dl-horizontal
  %dt Community Center
  %dd= @efar.community_center.name

- @efar.locations.each do |l|
  %dl.dl-horizontal
    %dt Address
    %dd= l.formatted_address
    %dt Occupied at
    %dd= l.occupied_at.titlecase

- if @efar.slum.present?
  %dl.dl-horizontal
    %dt Informal Settlement
    %dd= @efar.slum.name


