%ul.breadcrumb
  %li
    = link_to "Efars", efars_path
    %span.divider /
  %li.active
    = @efar.full_name


.page-header
  %h3
    = "#{@efar.full_name}"
    .pull-right
      %a.btn.btn-link{:href => edit_efar_path(@efar) } Edit

- if flash[:notice].present?
  .alert
    = flash[:notice]
    %button.close{:type=>"button", "data-dismiss"=>"alert"} &times;

%dl.dl-horizontal
  %dt Community Center
  %dd= @efar.community_center.name
  %dt Contact Number
  %dd= @efar.contact_number
  %dt Location
  %dd= @efar.given_address
  %dt Training Level
  %dd= @efar.training_level
  %dt Training Date
  %dd= @efar.training_date


