= render :partial => 'subheader'

%table.table#efars-index
  %thead
    %tr
      %th Name
      %th Contact number
      %th Community
      %th Status
      %th 

  %tbody
    - @efars.each do |efar|
      %tr
        %td= efar.full_name
        %td= efar.readable_contact_number
        %td= efar.community_center.name
        %td.status
          = efar.study_invite.status if efar.study_invite.present?
        %td
          - if efar.study_invite.blank?
            %a{'href'=>'#', 'data-type'=>'sendInvite', 'data-efar_id'=>efar.id} Send Invite
          - if efar.study_invite.present? && efar.study_invite.pending?
            %a{'href'=>'#', 'data-type'=>'sendInvite', 'data-efar_id'=>efar.id} Send Invite



:javascript
  jQuery(function() {
    new App.Controllers.StudyInvites.Index();
  });