= form_for([:admin, @dispatcher], :html => {:class => 'form-horizontal'}) do |f|

  .control-group{ :class => @dispatcher.errors[:full_name].present? && "error" }
    %label.control-label Full Name
    .controls
      %input{:type=>"text", :name=>"dispatcher[full_name]", :value=>@dispatcher.full_name, :placeholder=>"Full Name"}
      - if @dispatcher.errors[:full_name].present?
        %span.help-inline= @dispatcher.errors[:full_name].first
  
  .control-group{ :class => @dispatcher.errors[:username].present? && "error" }
    %label.control-label Username
    .controls
      %input{:type=>"text", :name=>"dispatcher[username]", :value=>@dispatcher.username, :placeholder=>"Username"}
      - if @dispatcher.errors[:username].present?
        %span.help-inline= @dispatcher.errors[:username].first

  .control-group{ :class => @dispatcher.errors[:password].present? && "error" }
    %label.control-label Password
    .controls
      %input{:type=>"password", :name=>"dispatcher[password]", :placeholder=>"Password"}
      - if @dispatcher.errors[:password].present?
        %span.help-inline= @dispatcher.errors[:password].first        

  .control-group{ :class => @dispatcher.errors[:password_confirmation].present? && "error" }
    %label.control-label Password Confirmation
    .controls
      %input{:type=>"password", :name=>"dispatcher[password_confirmation]", :placeholder=>"Confirm Password"}
      - if @dispatcher.errors[:password_confirmation].present?
        %span.help-inline= @dispatcher.errors[:password_confirmation].first

  .form-actions
    %button.btn.btn-primary{:type=>'submit'} Save
    %a.btn{:href=>admin_dispatchers_path} Cancel
