.emergency-feed-item
  .state-header
    = emergency_state_label_html emergency
  .location-header.row
    .time
      = distance_of_time_in_words_to_now emergency.created_at
      ago
    .location= emergency.formatted_address
  .feed-item-summary.row
    .span1.number-box
      .number= emergency.dispatch_messages.count
      .number-label Nearby
    .span1.number-box
      .number= emergency.sent_dispatch_messages.count
      .number-label Alerted
    .span1.number-box
      .number= emergency.en_route_dispatch_messages.count
      .number-label En Route
    .span1.number-box
      .number= emergency.on_scene_dispatch_messages.count
      .number-label On Scene
    .span1.number-box
      .number= emergency.failed_dispatch_messages.count
      .number-label Failed                
  .feed-item-details
    %span.datetime= detailed_datetime emergency.created_at
    %span.dot ·
    %span.feed-item-dispatcher-name
      = "Dispached by #{emergency.dispatcher.full_name}"
    %span.dot ·
    %a{ :href => '#', 'onclick' => "$('.dispatch-messages').show()" } Show Efars

  .dispatch-messages.hide
    = render :partial => "dispatch_message", :collection => emergency.dispatch_messages