.container-fluid
  .row-fluid
    .span8
      .section.account
        .section-header
          %h3 Edit Account
          .section-actions
            %a.btn.btn-link{:href=>research_account_path}
              Cancel
        .section-body
          - if @researcher.errors.present?
            .alert.alert-error There were some errors updating your account. See below for more information.

          = form_for(@researcher, :as => :account, :url => research_account_path, :method => :put, :html => {:class=>"form-horizontal"}) do |f|

            = horizontal_text_field(@researcher, :full_name)
            = horizontal_text_field(@researcher, :email)
            = horizontal_text_field(@researcher, :affiliation)

            .control-group{:class => @researcher.errors.present? && "error" }
              %label.control-label New password
              .controls
                %input{:type=>"password", :name=>"researcher[password]", :placeholder=>""}
                - if @researcher.errors[:password].blank?  
                  %span.help-block
                    %small Enter a new password, or leave blank to keep your old one
                - if @researcher.errors[:password].present?
                  %span.help-inline= @researcher.errors[:password].first

            .control-group
              %label.control-label Confirm password
              .controls
                %input{:type=>"password", :name=>"researcher[password_confirmation]", :placeholder=>""}

            .form-actions
              %button.btn.btn-primary{:type=>'submit'} Save
              %a.btn{:href=>research_account_path} Cancel  