.control-group{ :class => record.errors[record_attribute.to_sym].present? && "error" }
  %label.control-label= label
  .controls
    %input{:type=>"text", :name=>"#{record.class.to_s.underscore}[#{record_attribute}]", :value=>record[record_attribute.to_sym], :placeholder=>"#{placeholder}"}
    - if record.errors[record_attribute.to_sym].present?
      %span.help-inline= record.errors[record_attribute.to_sym].first