!!!
%html
  %head
    %title EFAR
    = stylesheet_link_tag "admin", :media => "all"
    = yield :js
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render :partial => 'layouts/ga'
  %body             

    .navbar.navbar-inverse.navbar-fixed-top.navbar-efar
      .navbar-inner
        .container
          .efar-brand{:href=>'#'}
            .efar-shield
              %i.efar-sprite-logo
              .logo-text EFAR ADMIN
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
                Accounts
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>admin_admins_path} Admins
                %li
                  %a{:href=>admin_community_centers_path} Community Centers
                %li
                  %a{:href=>admin_efars_path} Efars

            %li{:class => controller.controller_name =='efars' && 'active' }
              %a{:href => admin_efars_path } EFARs

            %li{:class=>controller.controller_name=='activity_logs' && "active"}
              %a{:href=>admin_activity_logs_path } Activity Log
          %ul.nav.pull-right
            %li
              = link_to 'Logout', admin_session_path, :method => :delete 

    / id required for javascript scoping. do not remove
    .container{'id'=>"#{controller.controller_name}-content"}
      .row
        = yield
      

    