!!!
%html
  %head
    %title EFAR Dispatcher
    = stylesheet_link_tag "admin", :media => "all"
    = yield :js
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag "admin/admin"
    = csrf_meta_tags
    = render :partial => 'layouts/ga'
  %body             
    .container-fluid
      .row
        .span3
          .efar-shield
            %i.efar-sprite-logo
            .logo-text EFAR ADMIN
          %ul.nav.nav-list.admin-sidebar-nav
            %li.nav-header Accounts
            %li{:class=> controller.controller_name=="admins" && "active"}
              %a{:href=>admin_admins_path} Admins
            %li{:class=> controller.controller_name=="dispatchers" && "active"}
              %a{:href=>admin_dispatchers_path} Dispatchers
            %li{:class=> controller.controller_name=="researchers" && "active"}
              %a{:href=>admin_researchers_path} Researchers
            %li{:class=> controller.controller_name=="community_centers" && "active"}
              %a{:href=>admin_community_centers_path} Community Centers
            %li{:class=> controller.controller_name=="head_efars" && "active"}
              %a{:href=>admin_head_efars_path} Head Efars
            %li{:class=> controller.controller_name=="efars" && "active"}
              %a{:href=>admin_efars_path} Efars
            %li.divider
            %li
              = link_to 'Logout', admin_session_path, :method => :delete  
        .span9
          .section
            .section-header
              = yield :section_header
              .section-actions
                = yield :section_actions
            .section-body
              = yield

    