!!!
%html
  %head
    %title EFAR Dispatcher
    = stylesheet_link_tag "admin", :media => "all"
    = yield :js
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag "admin/admin"
    = csrf_meta_tags
    = render :partial => 'layouts/ga'
  %body             

    .navbar.navbar-inverse.navbar-fixed-top.navbar-admin-layout
      .navbar-inner
        .container
          .efar-brand{:href=>'#'}
            .efar-shield
              %i.efar-sprite-logo
              .logo-text EFAR ADMIN
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{'data-toggle'=>'dropdown', :href=>'#'}
                Accounts
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>admin_admins_path} Admins
                %li
                  %a{:href=>admin_dispatchers_path} Dispatchers
                %li
                  %a{:href=>admin_researchers_path} Researchers
                %li
                  %a{:href=>admin_community_centers_path} Community Centers
                %li
                  %a{:href=>admin_head_efars_path} Head Efars
                %li
                  %a{:href=>admin_efars_path} Efars
          %ul.nav.pull-right
            %li
              = link_to 'Logout', admin_session_path, :method => :delete 

    .container
      .row
        .span12
          .section
            .section-header
              = yield :section_header
              .section-actions
                = yield :section_actions
            .section-body
              = yield

    