!!!
%html
  %head
    %title EFAR Dispatcher
    = stylesheet_link_tag "efars", :media => "all"
    = yield :js
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render :partial => 'layouts/ga'
  %body
    = yield
