!!!
%html
  %head
    %title EFAR
    = stylesheet_link_tag 'dispatch'

    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag 'application'
    = render :partial => 'layouts/ga'
    = csrf_meta_tags
  %body

    .navbar.navbar-inverse.navbar-fixed-top.navbar-efar
      .navbar-inner
        .container
          .efar-brand{:href=>'#'}
            .efar-shield
              %i.efar-sprite-logo
              .logo-text EFAR Dispatch
          %ul.nav
            %li{:class=>controller.controller_name=='dispatches' && "active"}
              %a{:href => dispatches_path } Dispatches
            %li{:class=>controller.controller_name=='efars' && "active"}
              %a{:href => efars_path } EFARs
          %a.btn.btn-primary{ :href=> new_dispatch_path }
            New Dispatch
          %ul.nav.pull-right
            %li.dropdown
              %a{ :href => '#', :class => "dropdown-toggle", "data-toggle" => "dropdown" }
                = @current_dispatcher.full_name
                %b.caret
              %ul{:class=>"dropdown-menu"}
                %li
                  %a{ :href => account_path } My Account
                %li
                  = link_to 'Logout', session_path, :method => :delete

  .container
    = yield

    .page-footer
      %small
        Site created by David Crockett. If you need assistance you may call him on his mobile 
        %em anytime.
        %b 071-439 9721




    