!!!
%html
  %head
    %title EFAR DISPATCH
    = stylesheet_link_tag 'dispatch'

    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag 'dispatch'
    = render :partial => 'layouts/ga'
    = csrf_meta_tags
  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li{:class=>controller.controller_name=='emergencies' && "active"}
              %a{:href => emergencies_path } Dispatches
          %a.btn.btn-primary{'data-type'=>'new-dispatch'} New Dispatch
          %ul.nav.pull-right
            %li.dropdown
              %a{ :href => '#', :class => "dropdown-toggle", "data-toggle" => "dropdown" }
                = @current_dispatcher.full_name
                %b.caret
              %ul{:class=>"dropdown-menu"}
                %li
                  %a{ :href => account_path } My Account
                %li
                  = link_to 'Logout', session_path, :method => :delete
                        

  .container
    .row
      .span12
        = yield

  #newDispatchModal.modal.hide.fade{ 'tabindex' => '-1', 'role' => 'dialog', 'aria-labelledby' => 'newDispatchFormHeader', 'aria-hidden' => 'true'}
    %form
      .modal-header
        %button{'type' => 'button', 'class' => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}
          &times;
        %h3#newDispatchFormHeader
          Dispatch EFAR's to:
        .modal-body
          .alert.alert-error.hide
          %input.input-block-level{'type'=>'text', 'name'=>'address', 'placeholder'=>'Full Address'}
          %label Emergency category (optional):
          %select{'name' => 'category'}
            %option{'selected' => true}
            %option Bleeding, uncontrolled
            %option Motor vehicle accident
            %option Broken bone
            %option Unconscious person
            %option Fall from a height
            %option Seizure
            %option Burn
            %option Impaled object
            %option Shortness of breath
            %option Abdominal pain
            %option Confused person
        .modal-footer
          %button.btn.btn-primary Send dispatch
          %button.btn.btn-link{'data-dismiss'=>'modal', 'aria-hidden'=>'true'} Cancel

:javascript
  jQuery(function(){
    new App("#{controller.action_name}");
  });


    