!!!
%html
  %head
    %title EFAR Dispatcher
    = stylesheet_link_tag "application", :media => "all"
    = yield :js
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body             
             
    .container-fluid
      .row
        .span3
          .efar-shield
            %i.efar-sprite-logo
            .logo-text EFAR ADMIN
          %ul.nav.nav-list.admin-sidebar-nav
            %li.nav-header Accounts
            %li.active
              %a{:href=>admin_admins_path} Admins
            %li
              %a{:href=>'#'} Dispatchers
            %li.divider
            %li
              = link_to 'Logout', admin_session_path, :method => :delete  
        .span9
          .section
            .section-header
              = yield :section_header
              .section-actions
                = yield :section_actions
            .section-body
              = yield