!!!
%html
  %head
    %title EFAR RESEARCH
    %script{ :type => "text/javascript", :src => "//use.typekit.net/ltc6ssn.js" }
    :javascript
      try{Typekit.load();}catch(e){}    
    
    = stylesheet_link_tag 'efar_research'

    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = javascript_include_tag 'research'

    = csrf_meta_tags
  %body

    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{ :href=>'#' } EFAR Research
          %ul.nav
            %li.active
              %a{ :href => '#' } EFARs
            %li
              %a{ :href => '#' } Dispatches
          %ul.nav.pull-right
            %li.dropdown
              %a{ :href => '#', :class => "dropdown-toggle", "data-toggle" => "dropdown" }
                = @current_researcher.full_name
                %b.caret
              %ul{:class=>"dropdown-menu"}
                %li
                  %a{ :href => '#' } Edit Account
                %li
                  = link_to 'Logout', research_session_path, :method => :delete

  = yield


    